<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>设计师</title>
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!--<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
		<!--分享使用-->
		<meta itemprop="name" content="" />
		<meta itemprop="description" name="description" content="" />
		<meta itemprop="image" content="img_url" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/global.css">
		<link rel="stylesheet" type="text/css" href="../css/ly.css"/>
		<link rel="stylesheet" type="text/css" href="../css/pyf.css"/>
		<link rel="stylesheet" type="text/css" href="../css/zyl.css"/>
		<style type="text/css">
			
			
		</style>
	</head>

	<body>
		<div class="main designer" id="app">
			<div class="curHeader flex_dom flex_item_between flex_item_mid">
				<img class="logo" src="../images/head-logo.png" alt="">
				<a href="javascript:;"></a>
			</div>
			<div class="container p-b-50 bg-f1f2f4 clearfix">
				<div class="wid100">
					<img class="wid100" src="../images/dirayBg.png"/>
					<a :href="'dairydetail.html?id='+item.id+'=typeid='+typeid" v-for="item in dairyList" class="l-pad20 block bg-fff">
						<div class="wid100 flex_dom">
							<div class="">
								<span class="font84r color-6ebdca" v-cloak>{{item.node[0].node_time}}</span>
								<img class="dayPic" src="../images/icon_day.png"/>
							</div>
							<div class="m-l-20 flex_1">
								<div class="font24r p-t-10 color-2d2e35 fw_600 l-h-35" v-cloak>
									{{item.node[0].node_title}}
								</div>
								<p class="l-h-20  font18r color-8b8b8b" v-cloak>{{item.node[0].node_description | getText}}</p>
							</div>
						</div>
						<div class="clearfix">
							<div v-for="node in item.node" class="ImgboxList">
								<!--<p class="coverImg ImgboxPic" :style="{backgroundImage: 'url('+node_description | getPic+')'}"></p>-->
								<img class="ImgboxPic" v-bind:src="node.node_description | getPic"/>
								<div class="ImgboxBot">
									<p class="font18 color-2d2e35" v-cloak>第{{node.node_time}}天</p>
									<p class="font15 color-94 only_line" v-cloak>{{node.node_description | getText}}</p>
								</div>
							</div>
						</div>
					</a>
		
				</div>
				<div class="text-center loadDiv" style="margin-top: 30px;">
					<img src="../images/icon-pageDown.png" alt="" />
					<p class="color-2d2e35 font20r m-t-5 m-b-40">向下滚动加载更多</p>
					<img src="../images/loading.gif" alt="" />
				</div>
			</div>
			<div id="back-to-top" class="backTop">
				<div class="column-center-c wid100 h100">
					<img src="../images/icon_backTop.png"/>
					<p class="color-2d2e35 font22r">回到顶部</p>
				</div>
			</div>
			<div class="curFooter">
				<p>©2016 i2edu.cn. All rights reserved.</p>
			</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../lib/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="../lib/con_js.6.23.js"></script>
	<script type="text/javascript" src="../lib/vue.js"></script>
	<script type="text/javascript" src="../lib/swiper.min.js"></script>
	<script type="text/javascript" src="../lib/page.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				DecorateType: [],
				typeid:'',
				dairyList: [],
				dayNode: {},
				page: 1,
				hasData: true
			},
			mounted: function(){
				//获取问题类型
				$.ajax({
					type:"get",
					url: host+"/api/l/getDecorateType",
//					data:{page:1,num:5},
					success: function(res){
						res = JSON.parse(res);
						if(res.success){
							app.DecorateType = res.data;
							app.typeid = window.location.href.split('=')[1];
							app.getdairy(app.typeid);
							console.log(app.DecorateType)
						}else{
							console.log(res.message);
						}
					}
				});
			},
			filters: {
				getText: function(value){
					var dd=value.replace(/<\/?.+?>/g,"");
 					var dds=dd.replace(/ /g,"");
 					return dds;
				},
				getPic:function(value){
					var reg = new RegExp("(<img.*src=\"\.*?\>)");  //正则表达式
				    value.match(reg);
				    var re = /src="([^"]*)"/g;  
				    var pic=[];
				    while (arr = re.exec(value)) {
						pic.push(arr[1]);
				    }
					console.log(pic)
					return pic[0];
				}
			},
			methods: {
				getdairy:function(id){
					var that = this;
					if(!that.hasData){
						return;
					}
					that.hasData = false;
				//获取问题列表
				app.typeid = id
					$.ajax({
						type:"get",
						url: host+"/api/l/getDecorateList",
						data:{
							page:that.page,num:5,
							type_id:app.typeid
						},
						success: function(res){
							res = JSON.parse(res);
							if(res.data.length == 0){
								app.hasData = false;
								$('.loadDiv').hide();
								return;
							}else{
								app.hasData = true;
							}
							if(res.success){
								if(that.page == 1){
									that.dairyList = res.data;
								}else{
									that.dairyList = that.dairyList.concat(res.data);
								}
								that.page++;
							}else{
								console.log(res.message);
							}
						}
					});
				},
			}
		})
		$(function(){
		        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
	
	            $(window).scroll(function(){
	            	//已经滚动到上面的页面高度
				    var scrollTop = $(this).scrollTop();
				    //页面高度
				    var scrollHeight = $(document).height();
			       	//浏览器窗口高度
			     	var windowHeight = $(this).height();
			      	//此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
			      	if (scrollTop + windowHeight >= scrollHeight-250) {
			        	app.getdairy();
			       	}
	                if ($(window).scrollTop()>100){
	                    $("#back-to-top").fadeIn(500);
	                }
	                else
	                {
	                    $("#back-to-top").fadeOut(500);
	                }
	            });
	
	            //当点击跳转链接后，回到页面顶部位置
	            $("#back-to-top").click(function(){
	                //$('body,html').animate({scrollTop:0},1000);
			        if ($(window).scrollTop()) {
			                $('html,body').animate({ scrollTop: 0 }, 1000);
			                return false;
			            }
			            $('html,body').animate({ scrollTop: 0 }, 1000);
			                 return false;            
	           });        

		});
	</script>

</html>