<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>设计师</title>
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!--<meta name="viewport" content="user-scalable=yes">-->
		<!--<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
		<!--分享使用-->
		<meta itemprop="name" content="" />
		<meta itemprop="description" name="description" content="" />
		<meta itemprop="image" content="img_url" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/global.css">
		<link rel="stylesheet" type="text/css" href="../css/ly.css"/>
		<link rel="stylesheet" type="text/css" href="../css/pyf.css"/>
		<link rel="stylesheet" type="text/css" href="../css/zyl.css"/>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css"/>
	</head>

	<body>
		<div class="main" id="app">
			<div class="curHeader flex_dom flex_item_between flex_item_mid">
				<img class="logo" src="../images/head-logo.png" alt="">
				<a href="javascript:;"></a>
			</div>
			
			<div class="container m-b-40">
				<div class="">
					<div class="designerCtt" v-cloak>
						<div class="clearfix">
							<div class="desHeadLeft">
								<div class="desHeadText">
									<div class="flex_dom flex_item_mid">
										<div class="flex_1">
											<h3 class="font28r"><i class="pointer m-r-5" @click="goInspiration(key)" v-for="(val,key,index) in bannercase.type">{{val}}</i></h3>
											<p class="font20r only_line jianjie" v-html="bannercase.name"></p>
										</div>
										<!-- <a class="iconShare m-t-10" onblur="unShare(this)" onclick="$(this).focus()" onfocus="share(this,null,'123','13')" href="javascript:;">分享<p></p></a> -->
									</div>
								</div>
								<div class="coverImg" v-if="bannercase.id" @click="openMask()" :style="{backgroundImage: 'url('+bannercase.img+')'}"></div>
							</div>
							<div class="indexTitle" style="padding: .3rem 0 .2rem;border-bottom: 1px solid #dbdbdd">
								<img src="../images/icon-down.png" alt="" />
								<h1>DESIGN CASE</h1>
								<p>设 计 师 推 荐</p>
							</div>
							<div class="desHeadRight centerCon">
								<div v-for="item in designer">
									<div class="flex_dom flex_item_mid m-b-30r p-t-30r">
										<div class="designcaseHead coverImg" :style="{backgroundImage: 'url('+item.photo+')'}"></div>
										<div class="flex_1">
											<h3 class="font28r color-2d2e35 only_line pointer" @click="goDesigner(item.id)">{{item.name}}</h3>
											<p class="font22r color-8b8b8b only_line">{{item.qualification}}</p>
										</div>
										<div class="p_btns">
											<a v-for="(val,key,index) in item.style_list" @click="goCase(key)" href="javascript:;">{{val}}</a>
										</div>
									</div>
									<div class="clearfix p_imgs">
										<div v-if="idx < 4" @click="openSwiper(img)" v-for="(img,idx) in item.case" class="coverImg" :style="{backgroundImage: 'url('+img.img+')'}"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="listCtt relative">
						<!--<div class="caseItem">
							<img src="../images/indexCase.png" alt="" />
							<div class="p-v-10">
								<h3 class="font15 color-2d2e35 font-w6">二居室  新派欧式  极简风</h3>
								<div class="flex_dom">
									<p class="flex_1 only_line font18 font-w6">120m²</p>
									<a class="iconShare" href="javascript:;">分享</a>
								</div>
							</div>
						</div>-->
					</div>
					<div class="text-center loadDiv">
						<img src="../images/icon-pageDown.png" alt="" />
						<p class="color-2d2e35 font18 m-t-5 m-b-40">向下滚动加载更多</p>
						<img src="../images/loading.gif" alt="" />
					</div>
				</div>
			</div>
			
			<div class="curFooter">
				<p>©2016 i2edu.cn. All rights reserved.</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../lib/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="../lib/con_js.6.23.js"></script>
	<script type="text/javascript" src="../lib/vue.js"></script>
	<script type="text/javascript" src="../lib/swiper.min.js"></script>
	<script type="text/javascript" src="../lib/page.js"></script>
	<script type="text/javascript" src="../lib/jquery.waterfall.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/jquery.share.min.js"></script>
	
	<script>
		var page = 1,hasData = true;
		var urlParam = GetRequest();
		var app = new Vue({
			el: '#app',
			data: {
				designer: [],
				bannercase: {}
			},
			mounted: function(){
				$.ajax({
					type:"get",
					data:{
						id: urlParam.id
					},
					url: host+"/api/l/getMaterialDetail",
					success: function(res){
						res = JSON.parse(res);
						if(res.success){
							app.bannercase = res.data;
							app.bannercase.img = res.data.image.split(',')[0];
							app.bindScroll();
						}else{
							console.log(res.message);
						}
					}
				});
				$.ajax({
					type:"get",
					url: host+"/api/l/getDecommend2Designer",
					success: function(res){
						res = JSON.parse(res);
						if(res.success){
							if(res.data.length > 0){
								for(var i = 0;i < res.data.length;i++){
									if(res.data[i].case.length){
										for(var j = 0;j < res.data[i].case.length;j++){
											res.data[i].case[j].img = res.data[i].case[j].image.split(',')[0];
										}
									}
								}
							}
							app.designer = res.data;
						}else{
							console.log(res.message);
						}
					}
				});
			},
			methods: {
				goDesigner: function(id){
					location.href = 'designerWork.html?id='+id;
				},
				openMask: function(){
					var image = app.bannercase.image;
					var name = app.bannercase.name;
//					name=name.replace(/<\/?.+?>/g,"");
//					name=name.replace(/ /g,"");
					// swiperMark(image,name);
				},
				goInspiration: function(key){
					changeLabel(key);
				},
				goCase: function(key){
					location.href = 'case.html?style='+key;
				},
				changeBanner: function(bannercase){
					bannercase.img = bannercase.image.split(',')[0];
					app.bannercase = bannercase;
				},
				openSwiper: function(item){
					var image = item.image;
					var name = item.name;
//					name=name.replace(/<\/?.+?>/g,"");
//					name=name.replace(/ /g,"");
					// swiperMark(image,name);
				},
				bindScroll: function(){
					$(".listCtt").waterfall({
					  itemClass: ".caseItem",
					  minColCount: 2,
					  spacingWidth: 10,
					  spacingHeight: 15,
					  resizeable: true,
					  ajaxCallback: function(success, end) {
					  	if(!hasData){
							return;
						}
					  	hasData = false;
					  	$.ajax({
					  		type:"get",
					  		data: {
					  			page: page,
					  			num: 10,
					  			keywords: '',
					  			type_name: '',
					  			type_id: '',
					  			material_type: ''
					  		},
					  		url: host+"/api/l/getMaterialList",
					  		success: function(res){
					  			res = JSON.parse(res);
					  			if(res.success){
					  				page++;
					  				var data = {"data": res.data};
					  				if(res.data.length == 0) {
					  					hasData = false;
					  					$('.loadDiv').hide();
					  					return;
					  				}else{
					  					hasData = true;
					  				}
									var str = "";
									//<a class="iconShare" onblur="unShare(this)" onclick="$(this).focus()" onfocus="share(this,null,\'{{name}}\',\'{{area}}\',\'{{src}}\')" href="javascript:;">分享<p></p></a>
								    var templ = '<div class="caseItem"><img class="pointer" onclick="location.href=\'designer.html?id={{id}}\'" src="{{src}}" alt="" /><div class="caseItemText"><h3 class="font15 color-2d2e35 font-w6">{{label}}</h3><div class="flex_dom"><p class="flex_1 only_line font18 font-w6">{{area}}</p></div></div></div>'
								  	
								    for(var i = 0; i < data.data.length; i++) {
								    	var label = '';
								    	for(var l in data.data[i].type){
								    		label += '<i class="pointer m-r-5" onclick="changeLabel('+l+')">'+data.data[i].type[l]+'</i>';
								    	}
								    	console.log(label)
								      str += templ.replace('{{id}}',data.data[i].id).replace(/{{src}}/g, data.data[i].image.split(',')[0]).replace('{{label}}',label).replace(/{{name}}/g, data.data[i].name).replace(/{{area}}/g, JSON.stringify(data.data[i].space).split('"')[3]+'m²');
								    }
								    $(str).appendTo($(".listCtt"));
					  				success();
					    			end();
					  			}else{
					  				console.log(res.message);
					  			}
					  		}
					  	});
					  }
					});
				}
			}
		})
		function changeLabel(id){
			location.href = 'inspiration.html?id='+id;
		}
	</script>

</html>