<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>常见问题</title>
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!--<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
		<!--分享使用-->
		<meta itemprop="name" content="" />
		<meta itemprop="description" name="description" content="" />
		<meta itemprop="image" content="img_url" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/global.css">
		<link rel="stylesheet" type="text/css" href="../css/ly.css"/>
		<link rel="stylesheet" type="text/css" href="../css/pyf.css"/>
		<link rel="stylesheet" type="text/css" href="../css/zyl.css"/>
		<style type="text/css">
		</style>
	</head>

	<body>
		<div class="main designer"id="app">
			<div class="curHeader flex_dom flex_item_between flex_item_mid">
				<img class="logo" src="../images/head-logo.png" alt="">
				<a href="javascript:;"></a>
			</div>
			<div class="container bg-fff">
				<img class="wid100" src="../images/q&aBg.png"/>
				<div v-for="(item,idx) in typeList" class="l-pad20">
					<div class="flex_dom border-b-e8e8e9 Con qaTop">
						<div class="column-center-c qlbox">
							<img class="qaImg" v-bind:src="item.image"/>
							<span class="color-7f7f80 font28r" v-cloak>{{item.name}}</span>
						</div>
						<div class="flex_1 l-h-04rem qusArea">
							<p class="quelist" v-for="(it,index) in item.qlist" @click="getanswer(it.title,it.content,idx)" :title="it.title" :content="it.content" v-text="it.title"></p>
						</div>
					</div>
					<div class="answerArea l-h-04rem">
						<div class="color-333" v-cloak>
							问：<span class="quedetail">{{item.quscon}}</span> 
						</div> 
						<p class="color-8b8b8b" v-html="item.answercon"></p>
					</div>
				</div>
				
				<div class="qusBg hide">
					<div class="queArea between bg-fff box_s">
						<div class="queALeft box_s2">
							<div @click="getanswer(item.title,item.content)" v-for="item in questionList" class="queLine" v-cloak>								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="back-to-top" class="backTop">
				<div class="column-center-c wid100 h100">
					<img src="../images/icon_backTop.png"/>
					<p class="color-2d2e35 font22r">回到顶部</p>
				</div>
			</div>
			<div class="curFooter">
				<p>©2016 i2edu.cn. All rights reserved.</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../lib/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="../lib/con_js.6.23.js"></script>
	<script type="text/javascript" src="../lib/vue.js"></script>
	<script type="text/javascript" src="../lib/swiper.min.js"></script>
	<script type="text/javascript" src="../lib/page.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				typeList: [],
				questionList: [],
				quscon:'',
				answercon:'',
				idarr:[]
			},
			mounted: function(){
				//获取问题类型
				$.ajax({
					type:"get",
					url: host+"/api/l/getProblemType",
//					data:{page:1,num:5},
					success: function(res){
						res = JSON.parse(res);
						if(res.success){
							app.typeList = res.data;
							app.typeList.forEach(function(m,k){
									console.log(m.id,k)
									app.idarr.push(m.id);
									$.ajax({
										type:"get",
										url: host+"/api/l/getProblemList",
										data:{
											problems_ids:m.id
										},
										success: function(res){
											res = JSON.parse(res);
											if(res.success){
												app.questionList.push(res.data);
												app.typeList[k].qlist = res.data;
												app.typeList[k].quscon = res.data[0].title;
												app.typeList[k].answercon = res.data[0].content;
											}else{
												console.log(res.message);
											}
										}
									});
									
								})
							console.log(app.typeList)
						}else{
							console.log(res.message);
						}
					}
				});
			},
			methods: {
				getanswer:function(a,b,i){
					app.typeList[i].quscon = a;
					app.typeList[i].answercon = b;
					console.log(app.typeList)
				}
			},
			updated:function(){
				$('.quelist').click(function(){
					$(this).parents('.qaTop').siblings('.answerArea').find('.color-8b8b8b').html($(this).attr("content"));
					$(this).parents('.qaTop').siblings('.answerArea').find('.quedetail').html($(this).attr("title"));
				})
			}
		})
		
		$(function(){
		        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
	
	            $(window).scroll(function(){
	                if ($(window).scrollTop()>100){
	                    $("#back-to-top").fadeIn(500);
	                }
	                else
	                {
	                    $("#back-to-top").fadeOut(500);
	                }
	            });
	
	            //当点击跳转链接后，回到页面顶部位置
	            $("#back-to-top").click(function(){
	                //$('body,html').animate({scrollTop:0},1000);
			        if ($(window).scrollTop()) {
			                $('html,body').animate({ scrollTop: 0 }, 1000);
			                return false;
			            }
			            $('html,body').animate({ scrollTop: 0 }, 1000);
			                 return false;            
	           });       

		});
	</script>

</html>