<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>设计师</title>
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!--<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
		<!--分享使用-->
		<meta itemprop="name" content="" />
		<meta itemprop="description" name="description" content="" />
		<meta itemprop="image" content="img_url" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/global.css">
		<link rel="stylesheet" type="text/css" href="../css/ly.css"/>
		<link rel="stylesheet" type="text/css" href="../css/pyf.css"/>
		<link rel="stylesheet" type="text/css" href="../css/zyl.css"/>
	</head>

	<body>
		<div class="main designer" id="app">
			<div class="curHeader flex_dom flex_item_between flex_item_mid">
				<img class="logo" src="../images/head-logo.png" alt="">
				<a href="javascript:;"></a>
			</div>
			<div class="container p-b-50">
				<img class="wid100" src="../images/designerBg1.png"/>
				<div class="l-pad20 Con">
					<div v-for="(item,index) in Decommendlist" class="wid100 designerList">
						<div class="between-center dlTop">
							<a v-bind:href="'designerWork.html?id='+item.id" class="inline_div"><img class="dlhImg" v-bind:src="item.photo"/></a>
							<div class="column-center-b flex_1 p-t-20 p-b-20">
								<span class="color-2d2e35 font-w6 only_line font24r" v-cloak>{{item.name}}</span>
								<p class="color-8b8b8b font20r line2" v-html="item.description"></p>
							</div>
							<div class="column-between dlTopright">
								<p class="font22r color-2d2e35 text-center" v-cloak>{{item.fee}}/<span class="font15">m<sup>2</sup></span></p>
								<button onclick="$('.fix-box').focus()" class="orderBtn between-center">
									<img src="../images/icon_time.png"/>
									<span>立即预约 &nbsp;></span>
								</button>
							</div>
						</div>
						<div class="clearfix fgLists">
							<a v-bind:href="'case.html?style='+key" v-for="(label,key) in item.style_list" class="fgList only_line inline_div text-center around-center">
								{{label}}
							</a>
	
						</div>
						<div class="Con">
							<a v-bind:href="'designerWork.html?id='+item.id" :class="'rd_swiper'+index">
								<div class="swiper-container dspicList">
									<div class="swiper-wrapper">
										<div class="swiper-slide" v-for="img in item.case">
											<img class="mainPic" :src="img.img"/>
										</div>
									</div>
									<div class="swiper-pagination"></div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>	
			
			
			<div class="curFooter">
				<p>©2016 i2edu.cn. All rights reserved.</p>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../lib/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="../lib/con_js.6.23.js"></script>
	<script type="text/javascript" src="../lib/vue.js"></script>
	<script type="text/javascript" src="../lib/swiper.min.js"></script>
	<script type="text/javascript" src="../lib/page.js"></script>
	<script>
			var app = new Vue({
			el: '#app',
			data: {
				DesignerList: [],
				Decommendlist:[]
			},
			mounted: function(){
				//获取banner
				$.ajax({
					type:"get",
					url: host+"/api/l/getDesignerList",
					data:{page:1,num:5},
					success: function(res){
						res = JSON.parse(res);
						if(res.success){
							app.DesignerList = res.data.slice(0,4);
							
						}else{
							console.log(res.message);
						}
					}
				});
				//获取推荐设计师
				$.ajax({
					type:"get",
					url: host+"/api/l/getDecommend2Designer",
//					data:{page:1,num:5},
					success: function(res){
						res = JSON.parse(res);
						if(res.success){
							res.data.forEach(function(item){
								item.case.forEach(function(item){
									item.img = item.image.split(',')[0];
								});
							});
							app.Decommendlist = res.data;
							app.$nextTick(function(){
								var mySwiper = new Swiper('.rd_swiper0 .swiper-container', {
									autoplay: 5000,//可选选项，自动滑动
									pagination : '.dspicList .swiper-pagination',
									loop : true,
									paginationClickable :true,
								});
								var mySwiper = new Swiper('.rd_swiper1 .swiper-container', {
									autoplay: 5000,//可选选项，自动滑动
									pagination : '.dspicList .swiper-pagination',
									loop : true,
									paginationClickable :true,
								})
							})
						}else{
							console.log(res.message);
						}
					}
				});
			},
			methods: {
				
			}
		})
//		var mySwiper = new Swiper('.swiper-container', {
//			// autoplay: 5000,//可选选项，自动滑动
//			pagination : '.swiper-pagination',
//			paginationType: 'bullets',
//			prevButton:'.swiper-button-prev',
//			nextButton:'.swiper-button-next',
//			simulateTouch: false
//		})		
			
	</script>

</html>