<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>案例</title>
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!--<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
		<!--分享使用-->
		<meta itemprop="name" content="" />
		<meta itemprop="description" name="description" content="" />
		<meta itemprop="image" content="img_url" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/global.css">
		<link rel="stylesheet" type="text/css" href="../css/ly.css"/>
		<link rel="stylesheet" type="text/css" href="../css/pyf.css"/>
		<link rel="stylesheet" type="text/css" href="../css/zyl.css"/>
	</head>

	<body>
		<div class="case main" id="app">
			<div class="curHeader centerCon clearfix">
				<img src="../images/headLogo.png" alt="" />
				<a href="javascript:;">首 页</a>
				<a href="javascript:;">设计师</a>
				<a href="javascript:;" class="active">案例</a>
				<a href="javascript:;">灵感</a>
				<a href="javascript:;">装修日记</a>
				<a href="javascript:;">常见问题</a>
				<a href="javascript:;">关于我们</a>
			</div>
			<div class="container">
			<!-- 最新案例banner 功能导航 -->
			<div class="banner">
				<div class="mask-100">
					<div class="center-1260 p-t-110">
						<p class="color-fff font44 fw_600 p-l-20">DESIGN CASE</p>
						<p class="color-fff font28 p-l-20">最新案例</p>
						<!-- 搜索框 筛选 -->
						<div class="filter-search bg-fff m-t-170 flex_dom around-center">
							<!-- 筛选 -->
							<div class="filter flex_dom around-center">
								<div class="filter-item flex_1 text-center font15 fw_600 pointer">
									风格
									<img class="angle m-l-5" src="../images/icon_angle.png" alt="">
									<ul class="abolute hide select-wrap color-000">
										<li v-for="(val, key, index) in types.style">{{val}}</li>
									</ul>
								</div>
								<div class="vert-line hgt20"></div>
								<div class="filter-item flex_1 text-center font15 fw_600 pointer">
									户型
									<img class="angle m-l-5" src="../images/icon_angle.png" alt="">
									<ul class="abolute hide select-wrap color-000">
										<li v-for="(val, key, index) in types.housetype">{{val}}</li>
									</ul>
								</div>
								<div class="vert-line hgt20"></div>
								<div class="filter-item flex_1 text-center font15 fw_600 pointer">
									颜色
									<img class="angle m-l-5" src="../images/icon_angle.png" alt="">
									<ul class="abolute hide select-wrap color-000">
										<li v-for="(val, key, index) in types.color">{{val}}</li>
									</ul>
								</div>
								<div class="vert-line hgt20"></div>
								<div class="filter-item flex_1 text-center font15 fw_600 pointer">
									素材元素
									<img class="angle m-l-5" src="../images/icon_angle.png" alt="">
									<ul class="abolute hide select-wrap color-000">
										<li v-for="(val, key, index) in types.element">{{val}}</li>
									</ul>
								</div>
								<div class="vert-line hgt20"></div>
								<div class="filter-item flex_1 text-center font15 fw_600 pointer">
									素材空间
									<img class="angle m-l-5" src="../images/icon_angle.png" alt="">
									<ul class="abolute hide select-wrap color-000">
										<li v-for="(val, key, index) in types.space">{{val}}</li>
									</ul>
								</div>
								<div class="vert-line hgt20"></div>
								<div class="filter-item flex_1 text-center font15 fw_600 pointer">
									面积
									<img class="angle m-l-5" src="../images/icon_angle.png" alt="">
									<ul class="abolute hide select-wrap color-000">
										<li v-for="(val, key, index) in types.area">{{val}}m²</li>
									</ul>
								</div>
								<!--<div class="vert-line hgt20"></div>
								<div class="filter-item flex_1 text-center font15 fw_600 pointer">
									设计费
									<img class="angle m-l-5" src="../images/icon_angle.png" alt="">
									<ul class="abolute hide select-wrap color-000">
										<li>55</li>
										<li>66</li>
									</ul>
								</div>
								<div class="vert-line hgt20"></div>
								<div class="filter-item flex_1 text-center font15 fw_600 pointer">
									标签
									<img class="angle m-l-5" src="../images/icon_angle.png" alt="">
									<ul class="abolute hide select-wrap color-000">
										<li>77</li>
										<li>88</li>
									</ul>
								</div>-->
							</div>
							<div class="search flex_1 relative">
								<input class="font15 placeholderccc" placeholder="搜索关键字" type="text">
								<button class="search-btn"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-f1f2f4 container">
				<div class="center-1260 p-t-10 p-b-70 flex_dom flex_wrap">
					<!-- 模板 -->
					<div v-for="item in list" class="case-item relative">
						<div class="wid100 hgt250 overflow_hide"><img style="width: 100%; height: 250px" class="block works" src="item.image" alt=""></div>
						<p class="font14 color-8b m-t-15">{{item.name_en}}</p>
						<p class="font18 color-221714 m-t-10 fw_600"><span>{{item.name}}</p>
						<p class="m-t-15 font12 color-8b flex_dom flex_item_mid">
							<img class="avator m-r-10" src="item.designer.photo" alt="">
							{{item.designer.name}}
						</p>
						<img class="new" src="../images/new.png" alt="">
					</div>
				</div>
			</div>
			</div>
			<div class="curFooter">
				<div class="centerCon clearfix">
					<div class="foot-l">
						<div class="clearfix m-b-15">
							<a href="javascript:;">首页</a>
							<a href="javascript:;">案例</a>
							<a href="javascript:;">灵感</a>
							<a href="javascript:;">装修日记</a>
							<a href="javascript:;">常见问题</a>
							<a href="javascript:;">关于我们</a>
						</div>
						<div class="m-b-15 color-fff font14 clearfix">
							<p class="fl m-r-30">TEL：+86 400-008-0000</p>
							<p class="fl">E-mail：jobs@126.com</p>
						</div>
						<p class="color-fff font14">©2016 i2edu.cn. All rights reserved.</p>
					</div>
					<div class="foot-r clearfix">
						<img class="fr" src="../images/foot-logo.png" alt="" />
						<div class="clearfix fr">
							<a href="javascript:;">
								<img src="../images/foot-weChat.png" alt="" />
								<p>WeChat</p>
							</a>
							<a href="javascript:;">
								<img src="../images/foot-blog.png" alt="" />
								<p>blog</p>
							</a>
							<a href="javascript:;">
								<img src="../images/foot-zhihu.png" alt="" />
								<p>Zhihu</p>
							</a>
							<a href="javascript:;">
								<img src="../images/foot-tianya.png" alt="" />
								<p>tianyan</p>
							</a>
							<a href="javascript:;">
								<img src="../images/foot-FAQ.png" alt="" />
								<p>FAQ</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../lib/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="../lib/con_js.6.23.js"></script>
	<script type="text/javascript" src="../lib/vue.js"></script>
	<script type="text/javascript" src="../lib/swiper.min.js"></script>
	<script type="text/javascript" src="../lib/page.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				types: [],
				list: [],
				param: {
					page: 1,
					num: 10,
					keywords: '',
					designer_id: '',
					style: '',
					house_type: '',
					area: '',
					fee: ''
				},
				hasData: true
			},
			mounted: function(){
				//获取类型
				$.ajax({
					type:"get",
					url: host+"/api/l/getTypeList",
					success: function(res){
						res = JSON.parse(res);
						if(res.success){
							app.types = res.data;
							//app.getDesigner(res.data[0].id);
						}else{
							console.log(res.message);
						}
					}
				});
				this.getList();
			},
			methods: {
				//获取列表
				getList: function(){
					var that = this;
					if(!that.hasData){
						return;
					}
					that.hasData = false;
					$.ajax({
						type:"get",
						url: host+"/api/l/getCaseList",
						data: that.param,
						success: function(res){
							res = JSON.parse(res);
							if(res.data.length == 0){
								app.hasData = false;
							}else{
								app.hasData = true;
							}
							if(res.success){
								if(that.param.page == 1){
									that.list = res.data;
								}else{
									that.list = that.list.concat(res.data);
								}
								that.param.page++;
							}else{
								console.log(res.message);
							}
						}
					});
				}
			}
		});
		$(window).scroll(function () {
		    //已经滚动到上面的页面高度
		    var scrollTop = $(this).scrollTop();
		    //页面高度
		    var scrollHeight = $(document).height();
	       	//浏览器窗口高度
	     	var windowHeight = $(this).height();
	      	//此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
	      	if (scrollTop + windowHeight >= scrollHeight-200) {
	        	app.getList();
	       	}
		});
	</script>

</html>