<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>设计师</title>
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!--<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
		<!--分享使用-->
		<meta itemprop="name" content="" />
		<meta itemprop="description" name="description" content="" />
		<meta itemprop="image" content="img_url" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/global.css">
		<link rel="stylesheet" type="text/css" href="../css/ly.css"/>
		<link rel="stylesheet" type="text/css" href="../css/pyf.css"/>
		<link rel="stylesheet" type="text/css" href="../css/zyl.css"/>
	</head>

	<body>
		<div class="main designer" id="app">
			<div class="curHeader centerCon clearfix">
				<img src="../images/headLogo.png" alt="" />
				<a href="javascript:;">首 页</a>
				<a href="javascript:;">设计师</a>
				<a href="javascript:;">案例</a>
				<a href="javascript:;">灵感</a>
				<a href="javascript:;" class="active">装修日记</a>
				<a href="javascript:;">常见问题</a>
				<a href="javascript:;">关于我们</a>
			</div>
			<div class="border-b-e8"></div>
			
			<div class="container pb200 bg-f1f2f4 clearfix">
				<div class="dirayBg">
					<div class="center-1260 pt374">
						<div class="box_s p-b-20 bg-fff">
							<!--<div class="wid100 topBox column-center-b hgt110">
								<img src="../images/icon-down.png"/>
								<span class="font32 color-2d2e35">原创设计作品</span>
							</div>-->
							<div v-for="item in dairyList" class="dairycontent flex_dom">
								<div class="tleft">
									<span class="font88 color-6ebdca" v-cloak>{{item.node_time}}</span>
									<img src="../images/icon_day.png"/>
								</div>
								<div class="m-l-20 flex_1 m-t-30">
									<div class="font22 color-2d2e35 fw_600 l-h-35">
										{{item.node_title}}
									</div>
									<p class="l-h-20  font15 color-94">{{item.node_description | getText}}</p>
									<div  class="picContent clearfix">
										<p v-for="pic in item.imglist" class="coverImg fl picC" :style="{backgroundImage: 'url('+pic+')'}"></p>
									</div>
									<p class="l-h-20 m-t-25 font15 color-94">{{item.node_description | getText}}</p>
									
								</div>
							</div>
						</div>
						<div class="between-center pagecArea">
							<div class="pagecbox column-between">
								<p class="coverImg fl pagecImg" :style="{backgroundImage: 'url('+prevData.image+')'}"></p>
								<div class="hgt60 wid100 l-pad20 center">
									<a :href="'dairydetail.html?id='+prevData.id+'=typeid='+typeid" class="center pagecbleft">
										<img src="../images/icon_prev.png"/>
										<span class="color-2d2e35 m-l-15 font22">上一篇</span>
									</a>
									<p style="flex: 1;" class="l-h-20 line2 font15 color-94">{{prevDataNode.node_description | getText}}</p>
								</div>
							</div>
							<div class="pagecbox column-between">
								<p class="coverImg fl pagecImg" :style="{backgroundImage: 'url('+nextData.image+')'}"></p>
								<div class="hgt60 wid100 l-pad20 center">
									<p style="flex: 1;" class="l-h-20 line2 font15 color-94">{{nextDataNode.node_description | getText}}</p>
									<a :href="'dairydetail.html?id='+nextData.id+'=typeid='+typeid" class="center-end pagecbleft">
										<span class="color-2d2e35 m-r-15 font22">下一篇</span>
										<img src="../images/icon_next.png"/>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="back-to-top" class="backTop">
				<div class="column-center-c wid100 h100">
					<img src="../images/icon_backTop.png"/>
					<p class="color-2d2e35 font15">回到顶部</p>
				</div>
			</div>
			<div class="curFooter">
				<div class="centerCon clearfix">
					<div class="foot-l">
						<div class="clearfix m-b-15">
							<a href="javascript:;">首页</a>
							<a href="javascript:;">案例</a>
							<a href="javascript:;">灵感</a>
							<a href="javascript:;">装修日记</a>
							<a href="javascript:;">常见问题</a>
							<a href="javascript:;">关于我们</a>
						</div>
						<div class="m-b-15 color-fff font14 clearfix">
							<p class="fl m-r-30">TEL：+86 400-008-0000</p>
							<p class="fl">E-mail：jobs@126.com</p>
						</div>
						<p class="color-fff font14">©2016 i2edu.cn. All rights reserved.</p>
					</div>
					<div class="foot-r clearfix">
						<img class="fr" src="../images/foot-logo.png" alt="" />
						<div class="clearfix fr">
							<a href="javascript:;">
								<img src="../images/foot-weChat.png" alt="" />
								<p>WeChat</p>
							</a>
							<a href="javascript:;">
								<img src="../images/foot-blog.png" alt="" />
								<p>blog</p>
							</a>
							<a href="javascript:;">
								<img src="../images/foot-zhihu.png" alt="" />
								<p>Zhihu</p>
							</a>
							<a href="javascript:;">
								<img src="../images/foot-tianya.png" alt="" />
								<p>tianyan</p>
							</a>
							<a href="javascript:;">
								<img src="../images/foot-FAQ.png" alt="" />
								<p>FAQ</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../lib/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="../lib/con_js.6.23.js"></script>
	<script type="text/javascript" src="../lib/vue.js"></script> 
	<script type="text/javascript" src="../lib/swiper.min.js"></script>
	<script type="text/javascript" src="../lib/page.js"></script>
	<script>
		
		var Id = document.URL.split("=")[1];
		var typeid = document.URL.split("=")[3];
		var app = new Vue({
			el: '#app',
			data: {
				prevData: {},
				prevDataNode: {},
				dairyList: [],
				nextData: {},
				nextDataNode: {},
				typeid:typeid
			},
			mounted: function(){
				//获取详情数据
				$.ajax({
					type:"get",
					url: host+"/api/l/getDecorateDetail",
					data:{id:Id,type_id:typeid},
					success: function(res){
						res = JSON.parse(res);
						if(res.success){
							app.dairyList = res.data.node;
							
					        
							for (var i = 0;i<app.dairyList.length;i++) {
								
					            var value = app.dairyList[i].node_description;
								var reg = new RegExp("(<img.*src=\"\.*?\>)");  //正则表达式
							    value.match(reg);
							    var re = /src="([^"]*)"/g;  
							    var pic=[];
							    while (arr = re.exec(value)) {
									pic.push(arr[1]);
							    }
								app.dairyList[i].imglist = pic;
							}
							console.log(app.dairyList)
						}else{
							console.log(res.message);
						}
					}
				});
				//获取上一条
				$.ajax({
					type:"get",
					url: host+"/api/l/getDecorateDetail",
					data:{id:Id,type_id:typeid,select:'prev'},
					success: function(res){
						res = JSON.parse(res);
						if(res.success){
							app.prevData = res.data;
							app.prevDataNode = res.data.node[0];
						}else{
							console.log(res.message);
						}
					}
				});
				//获取下一条
				$.ajax({
					type:"get",
					url: host+"/api/l/getDecorateDetail",
					data:{id:Id,type_id:typeid,select:'next'},
					success: function(res){
						res = JSON.parse(res);
						if(res.success){
							app.nextData = res.data;
							app.nextDataNode = res.data.node[0];
						}else{
							console.log(res.message);
						}
					}
				});
			},
			filters: {
				getText: function(value){
					var dd=value.replace(/<\/?.+?>/g,"");
 					var dds=dd.replace(/ /g,"");
 					return dds;
				},
				getPic:function(value){
					var reg = new RegExp("(<img.*src=\"\.*?\>)");  //正则表达式
				    value.match(reg);
				    var re = /src="([^"]*)"/g;  
				    var pic=[];
				    while (arr = re.exec(value)) {
						pic.push(arr[1]);
				    }
					console.log(pic)
					return pic;
				}
			},
			methods: {
				getdairy:function(id){
				//获取问题列表
					$.ajax({
						type:"get",
						url: host+"/api/l/getDecorateList",
						data:{
//							page:1,num:5,
							type_id:id
						},
						success: function(res){
							res = JSON.parse(res);
							if(res.success){
								app.dairyList = res.data;
								app.quscon = res.data[0].title;
								app.answercon = res.data[0].content;
							}else{
								console.log(res.message);
							}
						}
					});
				},
			}
		})
		$(function(){
		        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
	
	            $(".main").scroll(function(){
	                if ($(".main").scrollTop()>100){
	                    $("#back-to-top").fadeIn(500);
	                }
	                else
	                {
	                    $("#back-to-top").fadeOut(500);
	                }
	            });
	
	            //当点击跳转链接后，回到页面顶部位置
	            $("#back-to-top").click(function(){
	                //$('body,html').animate({scrollTop:0},1000);
			        if ($('.main').scrollTop()) {
			                $('.main').animate({ scrollTop: 0 }, 1000);
			                return false;
			            }
			            $('.main').animate({ scrollTop: 0 }, 1000);
			                 return false;            
	           });       

		});
	</script>

</html>