<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>设计师</title>
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!--<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
		<!--分享使用-->
		<meta itemprop="name" content="" />
		<meta itemprop="description" name="description" content="" />
		<meta itemprop="image" content="img_url" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/global.css">
		<link rel="stylesheet" type="text/css" href="../css/ly.css"/>
		<link rel="stylesheet" type="text/css" href="../css/pyf.css"/>
		<link rel="stylesheet" type="text/css" href="../css/zyl.css"/>
	</head>

	<body>
		<div class="main designer" id="app">
			<div class="curHeader centerCon clearfix">
				<img src="../images/headLogo.png" alt="" />
				<a href="index.html">首 页</a>
				<a href="recommendDesigner.html">设计师</a>
				<a href="case.html">案例</a>
				<a href="inspiration.html">灵感</a>
				<a href="decoratedairy.html" class="relative headDairy active">装修日记</a>
				<a href="question&answer.html">常见问题</a>
				<a href="aboutus.html">关于我们</a>
			</div>
			<div class="border-b-e8"></div>
			
			<div class="container pb200 bg-f1f2f4 clearfix">
				<div class="dirayBg">
					<div class="center-1260 pt374">
						<a :href="'dairydetail.html?id='+item.id+'=typeid='+typeid" v-for="item in dairyList" class="dairyBox block box_s bg-fff">
							<div class="tTop center">
								<div class="center">
									<span class="font88 color-6ebdca" v-cloak>{{item.node[0].node_time}}</span>
									<img src="../images/icon_day.png"/>
								</div>
								<div class="m-l-20 righttext">
									<div class="font22 color-2d2e35 fw_600 l-h-35" v-cloak>
										{{item.node[0].node_title}}
									</div>
									<p class="l-h-20  font15 color-94" v-cloak>{{item.node[0].node_description | getText}}</p>
								</div>
							</div>
							<div class="ImgboxArea clearfix">
								<div v-for="node in item.node" class="fl pointer ImgboxList">
									<!--<p class="coverImg ImgboxPic" :style="{backgroundImage: 'url('+node_description | getPic+')'}"></p>-->
									<img class="ImgboxPic" v-bind:src="node.node_description | getPic"/>
									<div class="ImgboxBot">
										<p class="font18 color-2d2e35" v-cloak>第{{node.node_time}}天</p>
										<p class="font15 color-94 only_line" v-cloak>{{node.node_description | getText}}</p>
									</div>
								</div>
							</div>
						</a>
						
					</div>
				</div>
			</div>
			<div id="back-to-top" class="backTop">
				<div class="column-center-c wid100 h100">
					<img src="../images/icon_backTop.png"/>
					<p class="color-2d2e35 font15">回到顶部</p>
				</div>
			</div>
			<div class="curFooter">
				<div class="centerCon clearfix">
					<div class="foot-l">
						<div class="clearfix m-b-15">
							<a href="index.html">首页</a>
							<a href="case.html">案例</a>
							<a href="inspiration.html">灵感</a>
							<a href="decoratedairy.html">装修日记</a>
							<a href="question&answer.html">常见问题</a>
							<a href="aboutus.html">关于我们</a>
						</div>
						<div class="m-b-15 color-fff font14 clearfix">
							<p class="fl m-r-30" id="footTel">TEL：+86 400-008-0000</p>
							<p class="fl" id="footMail">E-mail：jobs@126.com</p>
						</div>
						<p class="color-fff font14">©2016 i2edu.cn. All rights reserved.</p>
					</div>
					<div class="foot-r clearfix">
						<img class="fr" src="../images/foot-logo.png" alt="" />
						<div class="clearfix fr">
							<a class="relative foot-weChat" href="javascript:;">
								<img src="../images/foot-weChat.png" alt="" />
								<p>WeChat</p>
								<div class="footCode"><img src="../images/foot-logo.png"/></div>
							</a>
							<a href="https://weibo.com" target="_blank">
								<img src="../images/foot-blog.png" alt="" />
								<p>blog</p>
							</a>
							<a href="https://www.zhihu.com" target="_blank">
								<img src="../images/foot-zhihu.png" alt="" />
								<p>Zhihu</p>
							</a>
							<a href="http://focus.tianya.cn" target="_blank">
								<img src="../images/foot-tianya.png" alt="" />
								<p>tianyan</p>
							</a>
							<a href="question&answer.html">
								<img src="../images/foot-FAQ.png" alt="" />
								<p>FAQ</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../lib/jquery.1.11.3.min.js"></script>
	<script type="text/javascript" src="../lib/con_js.6.23.js"></script>
	<script type="text/javascript" src="../lib/vue.js"></script>
	<script type="text/javascript" src="../lib/swiper.min.js"></script>
	<script type="text/javascript" src="../lib/page.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				DecorateType: [],
				typeid:'',
				dairyList: [],
				dayNode: {}
			},
			mounted: function(){
				//获取问题类型
				$.ajax({
					type:"get",
					url: host+"/api/l/getDecorateType",
//					data:{page:1,num:5},
					success: function(res){
						res = JSON.parse(res);
						if(res.success){
							app.DecorateType = res.data;
							app.typeid = res.data[0].id
							app.getdairy(app.typeid);
							console.log(app.DecorateType)
						}else{
							console.log(res.message);
						}
					}
				});
			},
			filters: {
				getText: function(value){
					var dd=value.replace(/<\/?.+?>/g,"");
 					var dds=dd.replace(/ /g,"");
 					return dds;
				},
				getPic:function(value){
					var reg = new RegExp("(<img.*src=\"\.*?\>)");  //正则表达式
				    value.match(reg);
				    var re = /src="([^"]*)"/g;  
				    var pic=[];
				    while (arr = re.exec(value)) {
						pic.push(arr[1]);
				    }
					console.log(pic)
					return pic[0];
				}
			},
			methods: {
				getdairy:function(id){
				//获取问题列表
				app.typeid = id
					$.ajax({
						type:"get",
						url: host+"/api/l/getDecorateList",
						data:{
//							page:1,num:5,
							type_id:app.typeid
						},
						success: function(res){
							res = JSON.parse(res);
							if(res.success){
								app.dairyList = res.data;
//								console.log(app.dayNode)
//                             var obj = {dayNode:''};
//								for (var i=0;i<app.dairyList.length;i++) {
//									app.dairyList[i].push(obj);
//									console.log(app.dairyList)
//									app.dairyList[i].dayNode = app.dairyList[i].node[0];
//								}
							}else{
								console.log(res.message);
							}
						}
					});
				},
				getanswer:function(a,b){
					app.quscon = a;
					app.answercon = b;
				}
			}
		})
		$(function(){
//		        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失

	            $(".main").scroll(function(){
	                if ($(".main").scrollTop()>100){
	                    $("#back-to-top").fadeIn(500);
	                }
	                else
	                {
	                    $("#back-to-top").fadeOut(500);
	                }
	            });
	
	            //当点击跳转链接后，回到页面顶部位置
	            $("#back-to-top").click(function(){
	                //$('body,html').animate({scrollTop:0},1000);
			        if ($('.main').scrollTop()) {
			                $('.main').animate({ scrollTop: 0 }, 1000);
			                return false;
			            }
			            $('.main').animate({ scrollTop: 0 }, 1000);
			                 return false;            
	           });       

		});
	</script>

</html>